<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
</head>
<body>
<h1>Översikt av miljökonfigurationer i OpenShift</h1>
<p>{{ message }}</p>
{{#each environments}}
  <hr>
  <h2 id="{{ this.name }}"><pre>{{this.name}}<sup><small><a href="#{{ this.name }}">#</a><a href="#">↑</a></small></sup></pre></h2>
  <h3>Environment Overview</h3>
  <p>
    Login-URL: <a href="{{ this.login_url }}">{{ this.login_url }}</a>
    / Gateway URL: <a href="{{ this.gateway_url }}">{{ this.gateway_url }}</a><br/>
  </p>
  <p>
    Comment: {{#if this.comment }}{{ this.comment }}{{else}}N/A{{/if}}
  </p>
  <table border="1px" cellspacing="2px" cellpadding="4px">
    <thead>
    <tr>
      <th>Namespace</th>
      <th>Deployments</th>
    </tr>
    </thead>
    <tbody>
    {{#each this.ocp_namespaces }}
    <tr id="{{ this.ocp_namespace }}">
      <th>
        <pre>{{ this.ocp_namespace }}<sup><small><a href="#{{ this.ocp_namespace }}">#</a></small></sup></pre>
<!--        <br/>-->
<!--        <a href="#{{ this.ocp_namespace }}">Sidankare</a>-->
        <small><a href="{{ this.ocp_console_url }}" target="_blank">Visa i OCP-konsollen</a></small>
      </th>
      <td>
        <table border="1px" cellspacing="2px" cellpadding="4px" width="100%">
          <thead>
          <tr>
            <th rowspan="2">Deployment</th>
            <th colspan="2">Memory</th>
            <th colspan="2">CPU</th>
            <th colspan="2">Replicas/Pods</th>
            <th rowspan="2">Spring Profiles</th>
            <th rowspan="2">Current Image</th>
            <th rowspan="2">Build Timestamp</th>
            <th rowspan="2">Last Status Update</th>
            <th rowspan="1">⚙️</th>
          </tr>
          <tr>
            <td>Min</td>
            <td>Max</td>
            <td>Min</td>
            <td>Max</td>
            <td>Target</td>
            <td>Current</td>
            <td>
              <form method="post" action="/tasks/bulk">
                <input type="hidden" name="ocp_namespace" value="{{ this.ocp_namespace }}">
                <input type="hidden" name="deployments" value="{{#each this.deployments_that_have_external_urls }}{{ this.name }},{{/each}}">
                <input type="hidden" name="external_urls" value="{{#each this.deployments_that_have_external_urls }}{{ this.external_url }},{{/each}}">
                <input type="hidden" name="action" value="fetch_build_info">
                <input type="submit" value="↻ {{ this.deployments_that_have_external_urls.length }}">
              </form>
            </td>
          </tr>
          </thead>
          <tbody>
          {{#each this.deployments }}
          <tr id="{{ this.ocp_namespace }}/{{ this.name }}">
            <td><pre>{{ this.name }}<sup>{{#if this.external_url }}{{#if this.is_gateway }}†{{/if}}<a href="{{ this.external_url }}" target="_blank">→</a>{{else}}<small>N/A</small>{{/if}}</sup></pre></td>
            <td>{{#if this.memory_min }}<pre>{{ this.memory_min }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.memory_max }}<pre>{{ this.memory_max }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.cpu_min }}<pre>{{ this.cpu_min }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.cpu_max }}<pre>{{ this.cpu_max }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.replicas_target }}<pre>{{ this.replicas_target }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.replicas_current }}<pre>{{ this.replicas_current }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.spring_profiles_active }}<pre>{{ this.spring_profiles_active }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.image_tag }}<pre>{{ this.image_tag }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.build_timestamp }}<pre>{{ this.build_timestamp }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>{{#if this.update_timestamp }}<pre>{{ this.update_timestamp }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
            <td>
              <form method="post" action="/tasks">
                <input type="hidden" name="data.target.environment" value="{{ this.environment }}">
                <input type="hidden" name="data.target.ocp_namespace" value="{{ this.ocp_namespace }}">
                <input type="hidden" name="data.target.deployment" value="{{ this.name }}">
                <input type="hidden" name="data.target.external_url" value="{{ this.external_url }}">
                <input type="hidden" name="action" value="fetch_build_info">
                <input type="submit" value="↻ 1" {{#if this.external_url }}{{else}}disabled="disabled"{{/if}}>
              </form>
            </td>
          </tr>
          {{/each}}
          </tbody>
        </table>
      </td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  <p align="center"><small>Symbols: <sup>#</sup> – sidankare / <sup>†</sup> – deployment av gateway-typ / <sup>→</sup> – direktlänk</small></p>
{{/each}}
<hr>
<p align="center"><small>&gt;&gt;&gt; Running since {{ SERVER_STARTUP_TIMESTAMP }} &lt;&lt;&lt;</small></p>
</body>
</html>
