<main>
<h1>Översikt av bakgrundsjobb</h1>
<p>{{ message }}</p>
<hr>
<table border="1px" cellspacing="2px" cellpadding="4px" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Action</th>
      <th>State</th>
      <th>Task Data / Target</th>
      <th>Task Data / Result</th>
      <th>Updated At</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks}}
    <tr id="{{ this.image_name }}-{{ this.image_tag }}">
      <td>{{#if this.id }}<pre>{{ this.id }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.action }}<pre>{{ this.action }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.state }}<pre>{{ this.state }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.data_target }}<pre>{{ this.data_target }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.data_result }}<pre>{{ this.data_result }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.update_timestamp }}<pre>{{ this.update_timestamp }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
      <td>{{#if this.create_timestamp }}<pre>{{ this.create_timestamp }}</pre>{{else}}<small>N/A</small>{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</main>
